// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700|Roboto:300,400,500,700&display=swap&subset=japanese');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
// @import '~vuetify/dist/vuetify.min.css';
// @import '~@mdi/font/css/materialdesignicons.min.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
.router-link-exact-active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #aaa;
}

body {
    font-family: 'Roboto', ;
    font-family: 'Noto Sans JP', ;
}

.card-title {
    margin-bottom: -0.2rem;
}

.main-footer {
    padding: 0px !important;
}

.padding-fill {
    background-image: linear-gradient(to bottom, rgba(240, 255, 40, 1) 0%, rgba(240, 255, 40, 1) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
    background-clip: content-box, padding-box;
}

.content-wrapper>.content {
    padding: 0 0;
}

// Swal Css overriding 
.swal2-popup {
    border-radius: 0.5em !important;
}

.swal2-icon {
    border-radius: 50% !important;
}

.swal2-success-ring {
    border-radius: 50% !important;
}

//  ***//
.invalid-feedback {
    display: block !important;
}